/* general */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --white: #FFFFFF;
  --black: #000000;
  --grey-footer: #282828;
  --blue-bg-main: #080B12;
  --text-color: #7D7F84;
  --blue-main: #141922;
  --green-decoration: #ADFF2F;
}

.debug{
  border: 1px solid red;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* utilities */

.text-center{
  text-align: center;
}

.align-center{
  align-items: center;
  align-content: center;
}

.items-center{
  align-item: center;
}

.content-center{
  align-content: center;
}

.d-flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.justify-end{
  justify-content: flex-end;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

a {
  color: var(--white);
  text-decoration: none;
}

ul{
  list-style: none;
}

/* wrapper */

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  overflow: hidden;
  color: var(--white);
}

main{
  width: 100%;
  height: calc(100% - 90px);
  background-color: var(--blue-bg-main);
  overflow: hidden;
}
/* main-nav */

.top-nav{
  width: 100%;
  height: calc(100% - 80px);
}

.logo{
  padding: 20px;
}

.logo-small{
  padding: 5px;
  display: none;
}

.logo img, .logo-small{
  width: 70%;
}

.side-nav img{
  width: 30px;
  margin-right: 10px;
}

.side-nav li{
  opacity: 0.5;
}

.side-nav li:hover {
  opacity: 1;
}

.side-nav a{
  border-left: 5px solid transparent;
  padding-left: 15px;
}

.side-nav li{
  padding-bottom: 10px;
}

.side-nav a:hover{
  border-left: 5px solid var(--green-decoration);
}

.bottom-nav{
  /* border: 1px solid var(--green-decoration); */
  height: 80px;
  width: 100%;
}

#playbar{
  width: 100%;
  height: 90px;
  background-color: var(--grey-footer);
}

.main-nav{
  width: 230px;
  min-height: 480px;
  background-color: var(--black);
}

.main-content{
  width: calc(100% - 230px);
  height: 100%;
  overflow-y: auto;
  background-color: var(--blue-bg-main);
}

.call-to-action{
  position: fixed;
  width: calc(100% - 230px);
  height: 80px;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-section{
  margin-top: 80px;
}

a{
  color: var(--white);
  text-decoration: none;
}

.button{
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid var(--white);
  border-radius: 20px;
}

.scale{
  transform: scale(0.8);
  transition: transform 0.5s;
}

.scale:hover{
  transform: scale(1);
}

.call-to-action .button{
  margin-right: 15px;
}

.main-section ul{
justify-content: center;
flex-wrap: wrap;
list-style: none;
}

.main-section nav ul li{
display: block;
padding: 5px 15px;
}

.main-section nav ul li:after{
content: '';
display: block;
width: 50%;
height: 2px;
margin: 0 auto;
background-color: transparent;
}

.main-section nav ul li:hover:after{
  background-color: var(--green-decoration);
}

.container{
  /* border: 1px solid white; */
  padding: 15px;
}

/* boostrap rulez */
/* and main-container */
.row{
  /* border: 1px solid white; */
  margin-left: -15px;
  margin-right: -15px;
}

.col{
  /* border: 1px solid red; */
  padding: 15px;
  width: calc(100% / 6);
  text-align: center;
}

.cover-image{
  position: relative;
  cursor: pointer;
}

.cover-image::after{
  font-family: 'Font Awesome 6 Free';
  font-size: 3rem;
  content: "\f144";
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}

.cover-image:hover::after{
  opacity: 1;
}

/* top nav */

.top-nav{
  overflow: hidden;
}

.playlist li, .side-nav span, .bottom-nav li{
  font-weight: bold;
  font-size: 0.8em;
}

.playlist li{
  padding: 20px 20px 0px 20px ;
  opacity: 0.5;
  font-size: 0.8em;
}

.playlist li:hover{
  opacity: 1;
}

.fa-solid.fa-square-plus{
  font-size: 40px;
  padding-right: 10px;
}

.playlist h4{
  padding: 20px 0px 0px 20px;
}

.playlist{
  height: 60%;
  overflow: hidden;
}

.playlist ul{
  overflow: auto;
  height: 80%;
}

/* bottom-nav */

.bottom-nav {
  background-color: var(--black);
}

.bottom-nav img{
  width: 20px;
  margin-right: 10px;
}

.upper-bottom-nav img{
  width: 15px;
}

.upper-bottom-nav a{
  width: 190px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--text-color);
}

.upper-bottom-nav span{
  opacity: 0.5;
}

.lower-botton-nav a{
  margin-top: 10px;
}

.bottom-nav li{
  padding-left: 20px;
}

.profile{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--text-color);
  overflow: hidden;
  margin-right: 10px;
}

/* col */

.circle{
  margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.circle img{
  object-fit: cover;
}

.col img{
  width: 100%;
}

.col p, .main-section ul li{
  opacity: 0.5;
  font-size: 0.8em;
}

.main-section ul li:hover{
  opacity: 1;
}

/* controller album */

.album, .playbar-volume{
  width: 230px;
  height: 100%;
}

.album img{
  height: 100%;
}

.album-cover{
  padding: 20px 10px;
}

.album-info span{
  font-size: 0.5rem;
  opacity: 0.5;
  font-weight: bold;
}

.album-info{
  margin: auto;
  line-height: 0.5rem;
}

.right-album{
    margin: auto 0;
}

.right-album a{
  opacity: 0.5;
  transition: opacity;
}

.right-album a:hover {
  opacity: 1;
}

.playbar-control{
  width: 40%;
  height: 100%;
}

/* control */

.control{
  height: 50%;
  width: 100%;
}

.control-top ul li, .control-bottom ul li{
  display: ;
  padding: 10px 15px;
}

.fa-regular.fa-circle-play{
  font-size: 35px;
}

.control-bottom span{
    font-size: 0.5rem;
      font-weight: bold;
}

.music-bar{
  width: 80%;
}


.slidecontainer {
    -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 4px;
      background-color: var(--text-color);
      border-radius: 10px;
}

.bar{
  height: 4px;
  background: var(--text-color);
  border-radius: 2px;
  width: 250px;
  position: relative;
}

.bar-white{
  position: absolute;
  height: 4px;
    background: var(--white);
    border-radius: 2px;
    width: 60px;
    bottom: 22px;

}

.bar-volume {
  height: 4px;
  background: var(--text-color);
  border-radius: 2px;
  width: 100px;
  margin-right: 20px;
  position: relative;
}

.bar-white-volume {
  position: absolute;
  height: 4px;
  background: var(--white);
  border-radius: 2px;
  width: 25px;
  right: 95px;

}

.playbar-volume{
  white-space: 10px;
}

@media screen and (max-width: 1200px){

.col {
      width: calc(100% / 4);
    }

.row{
            flex-wrap: wrap;
    }

}

@media screen and (max-width: 992px) {

.col {
        width: calc(100% / 3);
      }

}

@media screen and (max-width: 768px) {

  .col {
    width: calc(100% / 2);
  }

    .main-nav {
      width: 70px;
    }

    .logo, .side-nav span, .playlist{
      display: none;
    }

    .logo-small {
      display: block;
      width: 40px;
      margin: 0 auto;
    }

    .main-content {
      width: calc(100% - 70px);
    }

    .call-to-action {
      width: calc(100% - 70px);
    }

    .bottom-nav span, .bottom-nav h4{
      display: none;
    }

    .upper-bottom-nav a{
      border-bottom: none;
    }


}

@media screen and (max-width: 556px) {



.col {
  width: 100%;
}

.playbar-volume{
  display: none;
}

}
